* {
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}
*:focus {
  outline: 0;
}
html {
  font-size: 62.5%;
  max-width: 100%;
  width: 100%;
}
body {
  color: #010311;
  background: #fff;
  font-family: 'Proxima nova', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 1.6;
  margin: 0;
  max-width: 100%;
  padding: 0;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  width: 100%;
}
body * {
  box-sizing: border-box;
}
.hero {
  background: url("../../img/bg.jpg") center 100% no-repeat;
  background-size: cover;
  display: block;
  height: 100vh;
  margin: 0;
  position: relative;
  width: 100%;
}
.hero:before {
  content: '';
  background-color: rgba(1,3,17,0.7);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 0;
}
.hero__align {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin-top: 6%;
  justify-content: center;
}
.hero__content {
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 50;
}
.hero__header {
  font-size: 4.4rem;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0;
  margin-bottom: 5rem;
  text-transform: uppercase;
}
.hero__subheader {
  font-size: 3rem;
  line-height: 1;
  margin: 0;
  margin-bottom: 1rem;
  opacity: 0.5;
  font-weight: 400;
}
.hero__time {
  font-size: 3rem;
  font-weight: 600;
}
.hero--inner {
  max-height: 25rem;
}
.hero--inner .hero__align {
  margin-top: 0;
}
.hero--inner .hero__header {
  position: relative;
}
.hero--inner .hero__header:after {
  background-color: #fff;
  bottom: -1.6rem;
  content: '';
  height: 2px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 5rem;
}
.main-header {
  padding-top: 5rem;
  position: relative;
  z-index: 50;
}
.logo {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}
.navigation {
  float: right;
}
.navigation__link {
  display: inline-block;
  margin-right: 3rem;
}
.navigation__link a {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation__link a:hover {
  color: #1c6be6;
}
.menu {
  float: right;
}
.menu__span {
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btn {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 2.4rem;
  display: inline-block;
  font-size: 1.6rem;
  letter-spacing: 1.5px;
  padding: 0.6rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s, color 0.2s;
}
.btn:hover {
  background-color: #fff;
  color: #010311;
}
.btn + .btn {
  margin-left: 2rem;
}
.offset {
  margin-bottom: 8rem;
}
.center {
  text-align: center;
}
.h3 {
  font-weight: 400;
  font-size: 3rem;
  text-transform: uppercase;
}
.video {
  display: block;
  height: 40rem;
  width: 100%;
}
.video iframe {
  display: block;
  height: 100%;
  width: 100%;
}
.about {
  position: relative;
}
.about__text {
  background-color: #fff;
  bottom: 0;
  height: 50rem;
  margin: auto;
  padding: 6rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
}
.news__item.item .item__img {
  display: block;
  height: 25rem;
  overflow: hidden;
  margin-bottom: 1.6rem;
}
.news__item.item .item__img img {
  display: block;
  max-width: 100%;
}
.news__item.item .item__title {
  color: #010311;
  display: block;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-decoration: none;
  transition: all 0.2s;
}
.news__item.item .item__title:hover {
  color: #1c6be6;
}
.news__item.item .item__anons {
  margin-top: 0;
}
.troupe {
  text-align: center;
}
.troupe__item {
  display: inline-block;
  text-align: center;
  margin-bottom: 2rem;
  padding: 3rem;
}
.troupe__item .item__img {
  background-size: cover !important;
  background-position: 50% !important;
  border-radius: 50%;
  display: inline-block;
  height: 15rem;
  width: 15rem;
}
.troupe__item .item__name {
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0.5rem;
}
.troupe__item .item__role {
  line-height: 1;
}
.team__slide {
  margin: 0 1rem;
}
.team__img {
  background-size: cover !important;
  background-position: 50% 40%;
  height: 30rem;
  margin-bottom: 2rem;
  width: 100%;
}
.team__name {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: uppercase;
}
.team__link {
  display: block;
}
.team__link a {
  border-bottom: 1px solid rgba(28,107,230,0.3);
  color: #1c6be6;
  display: inline;
  font-size: 1.4rem;
  text-decoration: none;
}
.team__desc {
  font-size: 1.4rem;
}
.team img {
  max-width: 100%;
}
.partners .partner__img {
  display: block;
  text-align: center;
  padding: 5rem;
}
.partners .partner__img img {
  display: inline-block;
  max-width: 100%;
}
.slider .slick-arrow {
  background: #010311;
  border: 0;
  cursor: pointer;
  font-size: 0;
  opacity: 0.4;
  position: absolute;
  top: 20%;
  transition: opacity 0.2s;
  height: 10rem;
  width: 10rem;
  z-index: 20;
}
.slider .slick-arrow:hover {
  opacity: 1;
}
.slider .slick-arrow:after {
  position: absolute;
  left: 2rem;
  height: 5rem;
  width: 5rem;
  top: 2.8rem;
  transition: transform 0.2s;
  z-index: 100;
}
.slider .slick-prev {
  left: 0;
}
.slider .slick-prev:hover:after {
  transform: translateX(-4px);
}
.slider .slick-prev:after {
  content: url("../../img/left.png");
}
.slider .slick-next {
  right: 0;
}
.slider .slick-next:hover:after {
  transform: translateX(4px);
}
.slider .slick-next:after {
  content: url("../../img/right.png");
  left: 3rem;
}
.organisator img {
  max-width: 100%;
}
.author {
  color: #010311;
  display: inherit;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.2s;
}
.author:hover {
  color: #1c6be6;
}
.main-footer {
  margin-top: 8rem;
}
.article__header {
  display: block;
  margin-bottom: 5rem;
  position: relative;
}
.article__header:after {
  background-color: #010311;
  bottom: -2rem;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  width: 5rem;
}
.article .h1 {
  margin-bottom: 1rem;
}
.article__time {
  color: #aaa;
}
.fade {
  animation: fade 0.8s ease forwards;
}
@media (max-width: 1200px) {
  .grid--container {
    width: 96%;
  }
}
@media (max-width: 768px) {
  .about__img {
    display: none;
  }
  .about__text {
    display: block;
    margin: initial;
    position: initial;
    height: initial;
    width: initial;
  }
}
@media (max-width: 767px) {
  .hero__header {
    font-size: 3rem;
  }
  .hero__subheader {
    font-size: 2.4rem;
  }
  .video {
    height: initial;
  }
  .video iframe {
    max-height: 20rem;
  }
  .about__text {
    padding: 0;
  }
  .troupe__item {
    height: initial;
    width: initial;
    padding: 0;
  }
  .slider .slick-arrow {
    background: rgba(1,3,17,0.1);
    opacity: 1;
  }
  .team__name {
    font-size: 1.8rem;
  }
}
@media (max-width: 500px) {
  .hero__header {
    font-size: 2.4rem;
    font-weight: 600;
  }
  .hero__subheader {
    font-size: 1.8rem;
  }
  .hero__time {
    font-size: 2.4rem;
  }
  .btn {
    font-size: 1.4rem;
    padding: 0.6rem 1rem;
  }
  .slider img {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .hero__content {
    text-align: center;
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 0.5;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0.5;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes fade {
  0% {
    opacity: 0.5;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fade {
  0% {
    opacity: 0.5;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
